= form_for @question do |f|
	- if @question.errors.any?
		#error_explanation
			%h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
			%ul
				- @question.errors.full_messages.each do |msg|
					%li= msg


	.field
		= f.label :user_id
		= f.number_field :user_id
	.field
		= f.label :text
		= f.text_field :text
	.field
		= f.label :tags
		= f.text_field :tags
	.field
		= f.label :categories
		= f.text_field :qcat
	.field
		= f.label :deleted
		= f.check_box :deleted
	
	.actions
		= f.submit 'Save'
