-if rakish?

	%h1 Listing users

	%table
	%tr
		%th Id
		%th Name
		%th Email
		%th Password
		%th Banned
		%th Upvotes from
		%th Upvotes to
		%th
		%th
		%th
		%br
		
	- @users.each do |user|
		%tr
			%td= user.id
			%td= user.name
			%td= user.email
			%td= user.password
			%td= user.banned
			%td= user.upvotesfrom
			%td= user.upvotesto
			%td= link_to 'Show', user
			%td= link_to 'Edit', edit_user_path(user)
			%td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

		%br


